<div class="row">
  <div class="col-md-6">
    <div *ngFor="let server of servers">
      <div class="card margin-top-5">
        <div class="card-body">
          <h5 class="card-title">
            {{server.name}}
          </h5>
          <div class="card-text">
            {{server.domain}}
          </div>
          <a href="#" class="card-link" (click)="onCheckStatus(server)">Check server status</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6" *ngIf="detailedServer && !isLoading">
    <app-server-detail [detailedServer]="detailedServer"></app-server-detail>
  </div>
  <div class="col-md-6" *ngIf="isLoading">
      <div class="loader"></div>
  </div>
</div>
<div class="col-md-12 margin-top-20">
  <button class="btn btn-success margin-right-15" routerLink="/add">
    {{addServerButtonText}}
  </button>
  <button class="btn btn-warning margin-right-15" (click)="loadServers()">
    {{'Refresh'}}
  </button>
  <button *ngIf="servers.length > 0" class="btn btn-info margin-right-15" (click)="onClearData()">
      {{'Clear saved servers'}}
    </button>
  <button *ngIf="detailedServer"s class="btn btn-secondary margin-right-15" (click)="onCloseDetails()">
      {{'Close details'}}
    </button>
  
</div>